@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,300;0,400;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism {
  @apply rounded-xl border border-gray-200/80 bg-white/25  shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur-sm p-3;
}

/* Flex */
.flex-center {
  @apply flex justify-center items-center;
}
.flex-start {
  @apply flex justify-start items-start;
}
.flex-end {
  @apply flex justify-end items-center;
}
.flex-between {
  @apply flex justify-between items-center;
}

/* Animations */
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-slowspin {
  animation: spin 10000ms linear infinite;
}

.fade-bottom {
  animation: fadeInBottom 800ms ease-in;
}
.fade-top {
  animation: fadeInTop 800ms ease-in;
}
.fade-right {
  animation: fadeInRight 800ms ease-in;
}
.fade-left {
  animation: fadeInLeft 800ms ease-in;
}

/* Body Styles */

body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom right, #c9a227, #b69121);
}
